
* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

form div input::-webkit-inner-spin-button, 
form div input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}