
* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.birthdayGenderCollector {
    width: 50%;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

form {
    width: 100%;
}

form :first-child {
    display: flex;
    flex-direction: column;
}

form :first-child input {
    padding: 5px;
    margin-bottom: 20px;
}

form :first-child label {
    margin-bottom: 10px;
}

form div input::-webkit-inner-spin-button, 
form div input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}